.models {
    //position: relative;
    background-color: white;
    overflow: hidden;
    height: 400px;
    width: 100%;
    //border: 1px red solid;
    img {
        padding-top: 3px;
        position: relative;
        left: 0;
        top: 0;
        height: 100%;
        animation: slideshow 15s linear infinite;
    }
}

@keyframes slideshow {
    0%    { left: 0; }
    100%  { left: -177%; }
}

